<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ page_title }}</title>
  <link rel="icon" href="{{ url_for('.static', filename='img/icon.png') }}">
  {{ bootstrap.load_css() }}
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/main.css') }}">
</head>

<body>
<div class="container-fluid">
  {% block jumbotron %}
  {% endblock %}
  <nav class="row navbar navbar-expand-lg navbar-dark" id="navbar">
    <a class="nav-item navbar-brand" href="/">PSnoD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto col-4">
        {% if active == "predict" %}
        <a class="nav-item text-nowrap nav-link active" href="/predict">Prediction<span class="sr-only">(current)</span></a>
        <a class="nav-item text-nowrap nav-link" href="/job_history">Job History</a>
        <a class="nav-item text-nowrap nav-link" href="/info">Infomation</a>
        {% elif active == "jop_history" %}
        <a class="nav-item text-nowrap nav-link" href="/predict">Prediction<span class="sr-only">(current)</span></a>
        <a class="nav-item text-nowrap nav-link active" href="/job_history">Job History</a>
        <a class="nav-item text-nowrap nav-link" href="/info">Infomation</a>
        {% elif active == "infomation" %}
        <a class="nav-item text-nowrap nav-link" href="/predict">Prediction<span class="sr-only">(current)</span></a>
        <a class="nav-item text-nowrap nav-link" href="/job_history">Job History</a>
        <a class="nav-item text-nowrap nav-link active" href="/info">Infomation</a>
        {% else %}
        <a class="nav-item text-nowrap nav-link" href="/predict">Prediction<span class="sr-only">(current)</span></a>
        <a class="nav-item text-nowrap nav-link" href="/job_history">Job History</a>
        <a class="nav-item text-nowrap nav-link" href="/info">Infomation</a>
        {% endif %}
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  {% for message in get_flashed_messages() %}
  <div class="container mx-auto">
    <div class="alert alert-warning alert-dismissible fade show row" role="alert">
    <strong>Alert! </strong>{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  </div>

  {% endfor %}

  <footer class="row">
    <small class="col-3 col-sm-7 mx-auto">&copy; LinGroup(lin-group.cn) &copy;2021 All rights reserved</small>
  </footer>

</div>

<script src="{{ url_for('.static', filename='js/main.js') }}"></script>
{{ bootstrap.load_js() }}
</body>
</html>